/* Write your CSS here */
.barChart-container {
  background-color: #1c1c2b;
  padding: 30px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.coverage-heading {
  font-family: roboto;
  color: #6c757d;
  text-align: center;
  font-size: x-large;
}
